<section class='container featured_collection'>
  <div class='details'>
    <h2>
      {{ section.settings.featured_collection.title }}
    </h2>
    <p>
      {{ section.settings.featured_collection.description }}
    </p>
  </div>
  <div class='product-grid'>
    {% for item in section.settings.featured_collection.products
      limit: 2
    %}
      {% render 'product-card', product: item %}
    {% endfor %}
  </div>
  <div>
    <button>
      <a href='{{section.settings.featured_collection.url}}'>
        Shop Now
      </a>
    </button>
  </div>
</section>

{% schema %}
{
  "name": "Featured Collection",
  "settings": [
    {
      "type": "collection",
      "id": "featured_collection",
      "label": "Featured collection"
    }
  ]
}
{% endschema %}
