<section class='search-template'>
  <div class='search-container'>
    <div class='search-bar'>
      <form action='/search' method='get'>
        <label for='q'>Search Furni-Craft</label>
        <div class='input-container'>
          <input type='text' id='q' name='q' placeholder='Search'>
          <button type='submit'>Submit</button>
        </div>
      </form>
    </div>
    {% if search.performed %}
      <div class='search-results'>
        {% if search.results_count > 0 %}
          <div class='results'>
            <h2>{{ search.results_count }} results for {{ search.terms }}</h2>
            <div class='product-grid'>
              {% for item in search.results %}
                {% render 'product-card', product: item %}
              {% endfor %}
            </div>
          </div>
        {% else %}
          <div class='no-results'>
            No results found for: {{ search.terms | escape }}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
</section>
