@forward "_media-queries.scss";
@use "reset.scss";
@use "header.scss";

:root {
  --font-serif: "Noto Serif", serif;
  --font-mono: "IBM Plex Mono", monospace;
}

body {
  font-family: var(--font-mono);
  position: relative;
}

.container {
  margin: 0 40px;
}
