@forward "_media-queries.scss";
@use "reset.scss";
@use "header.scss";
@use "hero.scss";
@use "footer.scss";

:root {
  --font-serif: "Noto Serif", serif;
  --font-mono: "IBM Plex Mono", monospace;
  --container-margin: 0 40px;
}

body {
  font-family: var(--font-mono);
  position: relative;
  overflow-x: hidden;
}

main {
  min-height: calc(100vh - 200px);
}

.container {
  margin: var(--container-margin);
}

.currency {
  margin-right: 14px;
  display: flex;
  svg {
    margin-left: 5px;
    transform: translateY(9px);
  }
}
