@forward "_media-queries.scss";
@use "reset.scss";
@use "header.scss";
@use "hero.scss";
@use "featured_collection.scss";
@use "product-card.scss";
@use "featured_products.scss";
@use "quote_block.scss";
@use "collection-template.scss";
@use "product-template.scss";
@use "footer.scss";

:root {
  --font-serif: "Noto Serif", serif;
  --font-mono: "IBM Plex Mono", monospace;
  --container-margin: 0 40px;
}

body {
  font-family: var(--font-mono);
  position: relative;
  overflow-x: hidden;
}

main {
  min-height: calc(100vh - 200px);
}

.container {
  margin: var(--container-margin);
}

.currency {
  select {
    border: none;
    background-color: transparent;
    outline: none;
    color: inherit;
    font-size: 0.813rem;
    font-weight: 500;
    font-style: italic;
    margin-right: 14px;
    padding-right: 5px;
  }
}
